<h1>Edit Landmark</h1>

<form action="/landmarks/<%=@landmark.id%>" method="POST">
  <table>
  <tr>
    <th>Name</th>
    <th>Year Completed</th>
  </tr>
  <tr>
    <td><input type="text" name="landmark[name]" id="name" value="<%= @landmark.name %>"></td>
    <td><input type="text" name="landmark[year_completed]" id="year_completed" value="<%= @landmark.year_completed %>"></td>
  </tr>
  <input type="submit" value="Edit Landmark">
</form>
