<h1>Create a New Landmark</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Year Completed</th>
  </tr>
  <tr>
    <form action="/landmarks" method="POST">
      <td><input type="text" name="landmark[name]" id="landmark_name"></td>
      <td><input type="text" name="landmark[year_completed]" id="landmark_year_completed"></td>
  </tr>
<table>

  <input type="submit" value="Create New Landmark">
</form>
